{%  extends "ARLouvreBundle::layout.html.twig" %}

{% block title %}Bienvenue - {{ parent() }}{%  endblock %}

{% block titleSection %}Billetterie du Louvre{% endblock %}

{% block showResa %}class = "nada"{% endblock %}

{% block body %}

    <div class="row">
        <div class="text-center col-sm-6 col-sm-offset-3">

            <p><Strong>Bienvenue !</Strong></p>
            <p>Vous aller démarrer votre réservation pour le musée du Louvre, à tout moment vous pouvez consulter les <strong>informations</strong> et <strong>tarifs</strong> dans le menu sans risque
                d'interrompre votre réservation.</p>
            <a href="{{ path('louvre_resa_initialiser') }}"><button class="btn btn-primary">Démarrer !</button></a>

            <img src="{{ asset('images/accueil.jpg') }}" alt="bienvenue" id="img-accueil" class="img-responsive"/>
        </div>
    </div>
{% endblock %}