/*
* Généralités layout
*/
body{
    /*
    background-color: rgba(228, 228, 228, 0.33);
    */
    background-image: url('http://www.actuweek.com/photos/zoom/musee-louvre-paris.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.body{
    margin-top: 60px;
}

.body, footer{
    background-color: rgba(138, 138, 138, 0.5);
    padding-bottom: 30px;
}

.content{
    margin-top: -5px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

#hidden-info{
    display: none;
}

/*
* Menu de navigation et bandeau d'accueil
*/
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

#titre-nav{
    margin-left: 5px;
}

#bandeau-louvre{
    max-height: 200px;
    margin-top: 15px;
}

#slogan{
    font-size: larger;
}

/*
* Contenu d'une page, généralités
*/
#titre-section{
    margin-bottom: 20px;
}

.resa-info{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
* Propriétés réusables
*/
.text-center{
    text-align: center;
}

.center-element{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
* Ajustements bootstrap
*/
.navbar{
    font-family: Verdana, Arial, serif;
}
.form-control{
    border-radius: 0;
}

.bg-info, .bg-danger, .bg-success{
    padding: 15px;
}

/*
* Page compléter résa
*/
#formulaire-billets{
    margin-top: -20px;
}

.ticket-fill{
    margin-top: 20px;
    margin-bottom: 30px;
}

.resa-submit{
    margin-left: 10px;
}

/*
* Page checkout
*/
#recap-resa{
    margin-bottom: 20px;
    margin-top: -20px;
}

#liste-recap{
    margin-top: 20px;
    margin-bottom: 20px;
}

#liste-recap li{
    list-style: none;
    margin-left: -30px;
}

.stripe-button-el{
    display: none;
}

/*
* Responsive
*/
@media screen and (max-width: 370px){

    #titre-section{
        font-size: 24px;
    }
}

@media screen and (max-width: 768px){

    .content{
        padding-left: 10px;
        padding-right: 10px;
    }
}
