.body{
    margin-top: 60px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.resa-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg-info {
    padding: 15px;
}

#resa-submit {
    margin-left: 10px;
}