{%  extends "ARLouvreBundle::layout.html.twig" %}

{% block title %}Compléter réservation - {{ parent() }}{%  endblock %}

{% block resaActive %}class="active"{% endblock %}

{% block titleSection %}Complétez vos billets :{% endblock %}

{% block body %}

    <div class="row resa-info">
        <p class="bg-info text-info text-center col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">Vous désirez XX billet(s) pour le XX/XX/XXXX</p>
        <a class="btn btn-default col-sm-2 col-sm-offset-5  col-xs-6 col-xs-offset-3" href="{{ path('louvre_resa_init') }}" alt="retour" >Modifier ma réservation</a>
    </div>

    <div class="row">

        <form class="col-sm-6 col-sm-offset-3">

            <div class="form-group">
                <i class="glyphicon glyphicon-envelope"></i>
                <label for="reservation-mail">Indiquez un email</label>
                <input class="form-control" name="reservation-mail" type="date" >
            </div>

            <div id="1" class="ticket-fill">

                <h3><i class="glyphicon glyphicon-user"></i>Billet n°<span class="ticket-nb">1</span> :</h3>

                <div class="form-group">
                    <label for="ticket-name">Nom</label>
                    <input class="form-control" name="ticket-name" type="text" >
                </div>

                <div class="form-group">
                    <label for="ticket-surname">Prenom</label>
                    <input class="form-control" name="ticket-surname" type="text" >
                </div>

                <div class="form-group">
                    <label for="ticket-country">Pays</label>
                    <select class="form-control" name="ticket-country">
                        <option>france</option>
                        <option>suisse</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="ticket-country">Date de naissance</label>
                    <input class="form-control" name="ticket-birthday" type="date" >
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="ticket-discount"> Tarif réduit ?
                    </label>
                </div>
                {# TODO ajouter info tarif réduit #}
            </div>

            <hr>

            <div class="resa-info">
                <p><strong>Montant de votre réservation :</strong></p>
            </div>

            <button id="resa-submit" type="submit" class="btn btn-primary">Procéder au paiement</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/resa-fill.js') }}"></script>
{% endblock %}