<div id="hidden-info" class="content">

    <h2 class="titre-section col-sm-offset-2">Informations pratiques :</h2>

    <div class="text-center">

        <p><strong>Adresse :</strong><br/>
            Musée du Louvre, 75058 Paris - France</p>
        <p><strong>Téléphone :</strong><br/>
            + 33 (0)1 40 20 53 17</p>
        <p><strong>Horaires :</strong><br/>
            Ouvert tous les jours de 9h à 18h sauf le mardi.<br/>
            Nocturnes jusqu’à 21h45 le mercredi et le vendredi.<br/>

        <p><strong>Le musée est fermé les 1er mai, 1er novembre et 25 décembre.</strong></p>

        <button class="btn btn-primary show-resa">Retour à la réservation</button>
    </div>

</div>

<div id="hidden-tarifs" class="content">

    <h2 class="titre-section col-sm-offset-2">Les tarifs du musée :</h2>

    <div class="text-center">


        <p><strong>Plein tarif :</strong><br/>
            16 €</p>
        <p><strong>Tarif réduit :</strong><br/>
            10 €<br/>
            <i>Sur présentation d'un justificatif.</i></p>
        <p><strong>Tarif senior :</strong><br/>
            12 €<br/>
            <i>A partir de 60 ans</i></p>
        <p><strong>Tarif enfant :</strong><br/>
            8 €<br/>
            <i>De 4 à 12 ans</i></p>
        <p><strong>Enfant de moins de 4 ans :</strong><br/>
            gratuit</p>

        <p><strong>Pour une réservation demi-journée les tarifs sont divisés par deux.</strong><br/>
            <i>Pour une entrée à partir de 14h</i></p>

        <button class="btn btn-primary show-resa">Retour à la réservation</button>


    </div>

</div>