{%  extends "ARLouvreBundle::layout.html.twig" %}

{% block title %}Votre réservation - {{ parent() }}{%  endblock %}

{% block resaActive %}class="active"{% endblock %}

{% block titleSection %}Votre réservation :{% endblock %}

{% block body %}

    <p><i>Merci pour votre réservation.</i></p>

    {{ include('@ARLouvre/Resa/errorResa.html.twig') }}

    <p>
        <a class="btn btn-default" href="{{ path('louvre_resa_initialiser') }}">Effectuer une nouvelle réservation</a>
    </p>
{% endblock %}
